{# {% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}

<header id="header" class="header fixed-top d-flex align-items-center" style="box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.1);">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{{path('principal')}}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Tomás Romero Pinturas</h1>
        <span></span>
      </a>

      <!-- Nav Menu -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{path('principal')}}" class="active"><img src="{{ asset('static/img/casaroja.png') }}"
                alt="Inicio" class="icono" width="28px" height="28px">Inicio</a></li>
          {# {% if is_granted('ROLE_ADMIN') %} #}
          {# <li><a href="{{path('admin')}}" class=""><img src="{{ asset('static/img/configuracionroja.png') }}"
                alt="Inicio" class="icono" width="28px" height="28px">Panel de Administrador</a>
          </li> #}
          {# {% endif %} #}
          {% if is_granted('ROLE_GUIA') %}
                  <ul>
                    <li class="dropdown has-dropdown"><a class="">Menú Guía</a>
                      <ul class="dd-box-shadow" style="right: 0; left: auto;">
                        <li><a href="{{path('calendarioGuia')}}"><img src="{{ asset('static/img/usuario.png') }}" alt="Inicio"
                              class="icono" width="28px" height="28px">Mi Calendario</a></li>
                        <li><a href="{{path('informes')}}"><img src="{{ asset('static/img/cerrar-sesion.png') }}" alt="Inicio"
                              class="icono" width="28px" height="28px">Informes</a></li>
                      </ul>
                    </li>
                  </ul>
          {% endif %}
          {% if is_granted('ROLE_USER') %}
          <li><a href="{{path('listadoReservas')}}" class="">Mis Reservas</a></li>
          {% endif %}
          {# <li><a href="{{path('admin')}}" class=""><img src="{{ asset('static/img/buscarroja.png') }}" alt="Inicio"
                class="icono" width="28px" height="28px">Galería</a></li> #}
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->
      {% if app.user %}
      <div class="navmenu">

        <ul>
          <li class="dropdown has-dropdown"><a class="">Hola, {{app.user}}</a>
            <ul class="dd-box-shadow" style="right: 0; left: auto;">
              {# <li><a href="{{path('app_logout')}}"><img src="{{ asset('static/img/usuario.png') }}" alt="Inicio"
                    class="icono" width="28px" height="28px">Mi Perfil</a></li> #}
              <li><a href="{{path('app_logout')}}"><img src="{{ asset('static/img/cerrar-sesion.png') }}" alt="Inicio"
                    class="icono" width="28px" height="28px">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
        {# <a class="active">Hola, {{app.user}}</a> #}

      </div>
      {% else %}
      <div>
        <a class="btn-getstarted" href="{{path('app_login')}}"><img
            src="{{ asset('static/img/accesoblanco.png') }}" alt="Inicio" class="icono mr-3" width="28px"
            height="28px"><span>Iniciar Sesión</span></a>
        <a class="btn-getstarted" href="{{path('app_register')}}"><img
            src="{{ asset('static/img/usuariosblanco.png') }}" alt="Inicio" class="icono mr-3" width="28px"
            height="28px"><span>Registrarse</span></a>
      </div>

      
      {% endif %}
{# <ul>
            <li>
              <a class="btn-getstarted active" href="{{path('app_login')}}"><img src="{{ asset('static/img/accesoblanco.png') }}" alt="Inicio" class="icono" width="28px" height="28px">Iniciar Sesión</a>
            </li>
            <li>
              <a class="btn-getstarted active" href="{{path('app_register')}}"><img src="{{ asset('static/img/buscarroja.png') }}" alt="Inicio" class="icono" width="28px" height="28px">Registrarse</a>
            </li>
          </ul> #}
    </div>

    {# <a class="btn-book-a-table" href="#book-a-table">Book a Table</a> #}
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </header><!-- End Header -->


{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<div class="container form-container" style="margin-top: 150px;">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card">
                <h3 class="text-center mt-4">Registrarse</h3>
                <div class="card-body">
                    {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.email, 'Correo Electrónico') }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.nombre, 'Nombre') }}
                        {{ form_widget(registrationForm.nombre, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.apellidos, 'Apellidos') }}
                        {{ form_widget(registrationForm.apellidos, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.foto, 'Foto') }}
                        {{ form_widget(registrationForm.foto, {'attr': {'class': 'form-control-file'}}) }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.plainPassword.first, 'Contraseña') }}
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-3">
                        {{ form_label(registrationForm.plainPassword.second, 'Repetir Contraseña') }}
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mb-3">Registrarse</button>
                        <p>¿Ya tienes una cuenta? <a href="{{ path('app_login') }}">Iniciar Sesión</a></p>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}